@tailwind base;
@tailwind components;
@tailwind utilities;

.desktop {
  background: #16222A;   /*fallback for old browsers*/
  /* background-image: -webkit-linear-gradient(to top, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */ 
  /* background-image: linear-gradient(to top, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  background-image: url("/icon-grid.svg");
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}
